html, body {
    height: 100%;
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'segoe ui', sans-serif;
  overflow: auto;

}


header {
    /*box-shadow: 0 0 4px rgba(0,0,0,.14), 0 0px 4px rgba(0,0,0,.28);*/
    z-index: 1000;
    background: transparent;
    z-index: 100000;
    border-bottom:0px solid #dedede;
    background: transparent;
    z-index: 100000;
    position: fixed;
    width: 100%;
}

.main-topnavbar{
    position: relative;
    display: flex;
    width: 100%;
    z-index: auto;
    background: #f7f7f7 !important;
    display: flex;
    width: 100%;
    z-index: 1000;
    border-bottom:1px solid #dedede;
}

.btn {
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#root {
  height: 100%;
}
#root > div {
    display: flex;
    flex: 1;
    flex-flow: column;
    height: 100%;
}

.flex {display: flex; }
.flex-auto {flex: auto;}
.flex-column {flex-flow: column;}
.flex-row {flex-flow: row;}
.flex-center {justify-content: center; align-items: center;}
.flex-full { flex: 1; height: 100%; width:100%; }
.flex-top { align-items: flex-start;}
.self-bottom-center {
   align-self: flex-end;
}

.main-container {
    flex:1;
    flex-flow: column;
    display: block;
    height: auto;
}

.table {
    background: #fff;
    box-shadow: 1px 1px 6px -3px rgba(0,0,0,.5);

}

.App {
  display: flex;
  height: 100%;
}

.spin {
    animation: App-logo-spin infinite 20s linear;
    
}
.App-logo {
  height: 38px;
}
.navbar-app-name {
    padding-left: 15px;
    font-weight: 400;
    text-transform: inherit;
    position: relative;
    display: inline-block;
    top: 2px;
    left: 0;
    font-family: "segoe ui";
}

.actions-navbar {
    min-height: 50px;
    border-bottom: 1px solid #dedede;
    display: flex;
    align-items: center;
    padding: 0 5px; 
}

.action-icon {
    min-width: 32px;
    height: 32px;
    text-align: center;
    position:relative;   
    display:inline-block;
    line-height: 32px;   
    margin: 0 2px;
    border-radius: 50px;
}
.action-icon .action-icon-bg {
    background: green;
    position: absolute;
}


.mappin-icon {
    font-size: 24px;
    width: 40px;
    text-align: center;
    top: 2px;
    position: relative;
}
.upload-icon {
    font-size: 22px;
    width: 40px;
    text-align: center;
    top: 2px;
    position: relative;
}
.bell-icon {
    font-size: 22px;
    width: 40px;
    text-align: center;
    top: 2px;
    position:relative;
}

.mappin-icon2 {
    /*background: url(/static/images/icons/mappin-gray.png) no-repeat center;*/
    background-size: contain;
    width: 50px;
    height: 36px;
    display: inline-block;
    top: 3px;
    position: relative;
}

.mappin {
    font-size: 14px;
    line-height:25px;
    width: 24px;
    height:24px;
    text-align: center;
    position: absolute;
    background:yellow;
    border-radius:50px;
}

body .navbar-brand {
    margin-right: 20px;
    margin-left: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #5d5d5d;
    font-weight:bold;
}

.bradius50 {
    border-radius:50px;
}

.navbar-nav .nav-item{
    align-items: center;
    display: flex;
}

.layout-main {
    height: 100%;
    width: 100%;
}

.layout-sidebar {
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-out 0s;
    min-width: 300px;
    max-width: 300px;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) 0s;
    overflow: hidden;
    display: flex;
    overflow: auto;
}

body .row {
    width: 100%;
    margin: 0;
}
body .col { height: 100%; margin:0;}

.layout-left-sidebar {
    order: 1;
    position: relative;
    top: 0;
    z-index: 5000;
}

.layout-right-sidebar {
  order: 3;
  position:absolute;
  right:0;
}

.layout-left-sidebar {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    text-align: left;
    background: #3c63ab;
    background: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.3);
    overflow-x: hidden;
    position: fixed;
    z-index: 10000000;
}

.layout-right-sidebar {
    background: #3c63ab;
    background: #fff;
}
.layout-right-sidebar .screen {
    padding:0;
}

.layout-left-sidebar nav {
    overflow: auto;
    height: 100%;
    flex: 1 1;
    min-width: 260px;
}

.layout-left-sidebar.collapsed {
    overflow: hidden;
    min-width: 60px;
    max-width: 60px;
    left:-60px;

}
.layout-left-sidebar.collapsed nav {
    overflow: hidden;
}

.layout-right-sidebar {
    right: -300px;
    display: none;
    overflow-x: hidden;
}

.scannersimulator .layout-right-sidebar {
    display: flex;
}

.layout-center {
    height: 100%;
    width: 100%;
    order: 2;
    display: flex;
    flex: 1;
    overflow:auto;
}

.screen {
  padding:20px;
  margin:0px;
  background:#fff;
  flex:1;
}

.bg {
    background: rgb(238,238,238);
    background: linear-gradient(rgb(238, 238, 238) 20%, rgb(255, 255, 255) 100%, rgb(255, 255, 255) 100%);
    background: linear-gradient(#fafafa 20%, #fff 100%, #fff 100%);
}

.top-navbar {
  min-height: 55px;
  padding:  0.2rem .5rem;
}

.search-bar {
   position:relative;
    display:flex;
    flex: 1 1 auto;
}
.search-input {
    background: #efefef;
    border: 0 !important;
    height: 40px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 50px;
    box-shadow:none;
}
.search-input:focus {
    background: #efefef;
    border: 0 !important;
    box-shadow:0 0 104px -20px rgba(0,0,0,.2) inset;
}

.navbar-icons {
    flex:none;
}

.search-bar .clear-search-button {
    position: absolute;
    right: 25px;
    top: 12px;
    color: #888;
}

.search-bar .search-icon {
    position: absolute;
    color: #b6b6b6;
    top: 12px;
    left: 15px;
    font-size: 18px;
    font-weight:bold;
}

.search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b5b5b5;
}


.search-input::-moz-placeholder { /* Firefox 19+ */
    color: #b5b5b5;
}

.search-input:-ms-input-placeholder { /* IE 10+ */
    color: #b5b5b5;
}

.search-input:-moz-placeholder { /* Firefox 18- */
    color: #b5b5b5;
}

.search-input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    opacity: 0;
}

.search-input:focus::-moz-placeholder { /* Firefox 19+ */
    opacity: 0;
}

.search-input:focus:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
}

.search-input:focus:-moz-placeholder { /* Firefox 18- */
    opacity: 0;
}


footer {
  height: 50px;
  background: #e7e7e7;
  min-height: 50px;
}

.smooth2 {
  transition: all 0.3s ease-out 0s;
}

.layout-sidebar .list-group-item.active a, .layout-sidebar.active a:visited {
  color: #fff;
}

.layout-sidebar {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.layout-sidebar  ul {
  flex: 1;
}
.layout-sidebar nav {
    overflow: auto;
    height: 100%;
    flex: 1;
}

.layout-sidebar .list-group-item a, .layout-sidebar a:visited {
  text-decoration: none;
}

.layout-sidebar .list-group-item a:hover, .layout-sidebar a:visited:hover {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.screen-button {
    min-width: 100px;
    border-radius: 2px;
    padding-left: 25px;
    padding-right: 25px;
}

.double-table {

}
.double-table-spacer {
    min-width: 15px;
    max-width: 15px;
}
.screen-message {
    height: 100%;
}

.colwithdetail {
    padding: 0 !important;
}

.colwithdetailbg {
    background: #6f85ad;
}

.colwithdetailbg .table-bordered th, .colwithdetailbg .table-bordered td {
    border: 0;
}

.colwithdetail > .table {
    margin-bottom: 0;
}
.emptydetails {
    background: rgba(84, 108, 150, 0.7);
    height: 100px;
    color: #fff;
    text-align:center;
    align-items:center;
    align-content:center;
    display:flex;
    flex:1;
}

.unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.btn-danger {
    background-color: #d40000;
    border-color: #d40000;
}

.btn-success {
    background-color: #A6ce39;
    border-color: #A6ce39;
}

.btn-primary {
    background-color: #b20014;
    border-color: #b20014;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #d0172d;
    border-color: #d0172d;
    box-shadow: 1px 1px 6px -1px rgba(0,0,0,.55);
}

.dropdown-toggle:after {
    margin-left: 20px;
    margin-right: -5px;
}

.dropdown-menu.lg .dropdown-item {
    padding: 1.0rem 2rem;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:active {
    background: #b20014;
    color:#fff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #b20014;
    border-color: #b20014;
}

.min-width-100 {
    min-width:100%;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #636363;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}


/********* custom select style *****************/

select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


    /* arrows */

    select.classic {
        background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
    }

    select.classic:focus {
        background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
        background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
        background-repeat: no-repeat;
        border-color: grey;
        outline: 0;
    }

    select.round {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
        background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
        background-repeat: no-repeat;
    }

    select.round:focus {
        background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
        background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
        background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
    }

    select.minimal {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #fff, #fff);
        background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
    }

    select.minimal:focus {
        background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #fff, #fff);
        background-position: calc(100% - 10px) 1em, calc(100% - 15px) 1em, calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        border-color: green;
        outline: 0;
    }

    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }


/***************************

  Masonry Styles 

***************************/
.masonry-grid{
    padding-right:0;
    padding-left:0px;
}
.masonry-container{
    margin:0px auto;
}
.masonry-card {
    font-family: 'Segoe UI';
    padding: 8px;
    background: transparent;
    width: 270px;
    z-index: 0;
}
.masonry-card:hover{
    z-index: 1000;
}
.masonry-content {
    padding: 8px;
    padding: 0px;
    border-radius: 0px;
    border: 1px solid #f2f2f2;
    transition: all 0.2s ease-out 0s;
    background: #fff;
}
.masonry-content:hover {
    background: #fff;
    border: 1px solid #f0f0f0;
}

.masonry-img-wrapper {
    padding: 0;
    border-radius: 0px;
    overflow:hidden;
    position: relative;
}

.masonry-img {
    margin:auto;
    width: 100%;
    min-width: 100%;
}


.upload-drop-area {
    display: block;
    padding: 0px;
    display: block;
    padding: 0px;
    height: 250px;
    border: 2px dashed #c4c4c4;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

.upload-drop-area:hover {
   

}

.upload-button {
    position:relative;
    overflow:hidden;
    padding-left:30px;
    padding-right:30px;
}
.upload-button-click {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
}

.upload-card {
    height: 150px;
    position: relative;
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0;
    max-width: 300px;
    overflow: hidden;
    min-width: 150px;
    text-align:center;
}
.upload-img {
    height: 100%;
}

.upload-remove-file-button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    cursor: default;
    background: #e6e6e6;
    width: 32px;
    text-align: center;
    line-height: 1;
    height: 32px;
    color: #2b2b2b;
    padding: 6px;
    display: block;
    border-radius: 50px;
}

.dialog-close-x {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 40px;
    cursor: default;
    background: transparent;
    width: 46px;
    text-align: center;
    line-height: 1;
    height: 46px;
    color: #8c8c8c;
    border:0;
    padding:10px;
}

.svg-icon {
    fill: currentColor;
    stroke-width: 0;
    display: block;
    width: 100%;
    height:100%;
}

.upload-remove-file-button:hover{
    color:#5f5f5f;
}

.quick-navbar {
    background: transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    text-align: center;
    padding: 0;
    padding-bottom: 25px;
    z-index: 100000000;
}

.quick-navbar-button {
    background: #fafafa;
    width: 42px;
    height: 40px;
    padding: 12px;
    border: 0;
    margin: 4px 15px;
    margin-top: 8px;
    border-radius: 50px;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .7) !important;
    color: #3e3e3e;
    outline: 0 !important;
    border: 0px solid #fafafa;
}
.quick-navbar-button:hover {
    background: #fff;
}
.quick-navbar-button > span {
    top: -3px;
    position: relative;
}

.upload-form {
    position:relative;
    margin: 20px auto;
    max-width: 700px;
    padding: 30px 30px 50px;
    background: #fff;
    height: auto;
    border-radius: 10px;
}


.borderless-form-control {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.upload-form-title {
    font-size: 38px;
    font-weight: bold;
    resize: none;
    overflow: hidden;
    height: 100px !important;
    line-height: 1.3;
}

.upload-form-description {
    font-size: 24px;
}

.upload-textarea {
    height: 150px;
}
.upload-publish-button {
    padding:15px;
}

.upload-progress {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    border-radius: 0;
    height: 5px;
    background: rgba(128, 128, 128, 0.5);
    margin: 0;
    left: 0;
    right: 0;
}
.upload-progress .progress-bar {
    background: rgba(116, 178, 247, 0.8);
}
.upload-progress-completed .progress-bar {
    background: rgba(106, 210, 68, 0.75);
}
.upload-progress-completed .upload-progress {
    display: none;
}
.upload-progress-completed:hover .upload-progress,
.upload-progress-completed:focus .upload-progress,
.upload-progress-completed:active .upload-progress {
    display: flex;
}

/* uport style */
.uport-login-button {
    background-color: #5c50ca;
    color: #fff;
}

.uport-login-button:hover, .uport-login-button:focus, .uport-login-button:active {
    background-color: #5c50ca;
    color: #fff;
}

.pure-form input[type="text"]:focus {
    border-color: #0c1a2b;
}

.uport-login-icon {
    width:24px;
    color:#fff;
    position:relative;
    top:-1px;
    margin-right:4px;
}

.marketplace-login-button, .marketplace-login-button:hover {
    background: #b20014;
    color: #fff;
}

.marketplace-login-icon {
    width: 24px;
    color: #fff;
    position: relative;
    top: -1px;
    margin-right: 4px;
}

#uport-qr{
    background-color:transparent !important;
}
#uport-qr > div {
    box-shadow:none !important;
}
#uport-qr-cancel{
    display:none;
}

.stores .max-width-container{
    max-width:1000px;
    margin:auto;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    left: 0;
  
}

.masonry-view-icon img { width: 18px; }
.gallery-view-icon img { width: 18px; }
.list-view-icon img { width: 18px; }

.mainlist-listitem-height { height: 140px; padding: 10px; }
.picture-container { width: 210px; height: 118px; overflow: hidden; text-align: center; position: relative; }
.picture-container.sm { width: 168px; height: 94px; overflow: hidden; text-align: center; position: relative; }
.picture-container > img { display: inline-block; width: 100%; }

/* using window as the scroller */
.infinite-scroller { 
    height: auto; 
    overflow: hidden;
    padding: 0px 0;
    background:linear-gradient(#fafafa 20%, #fff 100%, #fff 100%);
 }
 /* uncoment to use infinite-scroller as the scroller 
  html, body:{ 
      height:100%; 
  }
  body:{ 
      overflow:auto;
  }
  .infinite-scroller { 
    height: 100%; 
    overflow: auto;
 }
 */

 .header-spacer {
     min-height: 60px;
 }

.infinite-scroller > div {    
    display: flex;
    flex: 1;
    flex-flow: column;
}

.loading-more-indicator {
    padding: 50px;
}

.smooth-scroll {  scroll-behavior: smooth; }

.infinite-list-title { color:#000; text-decoration: none !important; }
.infinite-list-title:hover { color:#888;}
.infinite-list-title:visited { color:purple;}

.grid-view .masonry-card  {
       height: 320px;
 }
 .grid-view .masonry-card .masonry-content {
    height: 300px;
    background: #fff;
 }
 
 .grid-view .masonry-card .masonry-content:hover {
    background: #f2f2f2;
    background: #fff;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    box-shadow: none;
 }

 .masonry-card .masonry-block {
    position: relative;
    border-radius: 8px; 
 }
 .masonry-block-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .03);
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 4px;
 }

 .grid-view .masonry-card .masonry-block {
    height: 100%;
    
 }

 .grid-view .masonry-card .masonry-img-wrapper{
     height: 230px;
     text-align: center;
     background: #fff;
 }


 .infinite-scroller .list-view  {
    max-width: 1200px;
    margin: 0px auto;
 }

 .list-view > ul{
     display: flex;
     flex:1;
 }

 .masonry-seller { font-size:13px; opacity:.7; padding: 5px;}
 .masonry-title { 
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    word-break: break-word;
    white-space: normal;
    white-space: initial;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    max-height: 50px;
    line-height: 1.4;
    color: #444;
 }
 .masonry-price-container {
    display: flex;
    flex-direction: row;
    flex: 1;
 }
 .masonry-regular-price {
    font-weight: 400;
    font-size: 14px;
    padding: 0 5px;
    line-height: 1.2;
    padding-top: 8px;
    text-decoration: line-through;
    color:rgb(67, 89, 116);
  }
 .masonry-price {
    font-weight: 600;
    font-size: 18px;
    padding: 0 5px;
    line-height: 1.2;
    padding-top: 5px;
    color: #000;
  }
  .masonry-quantity-sold {
    font-size:12px; opacity:.7; padding: 5px;
  }
 .masonry-location { font-size:13px; opacity:.7; padding: 5px;}

 .masonry-container-col {
     width: 100%;
     padding-top: 5px;
     padding: 5px;
 }
 .masonry-ellipsis-col {
    width: 30px;
    padding: 5px 0;
    font-size: 13px;
    font-weight: normal;
    opacity: .7;
    text-align: center;
    display: none;
 }
 .masonry-ellipsis-button {
    width: 32px;
    height: 32px;
    padding: 6px !important;
    color: #444;
 }

 /* item-details */
 .goback-button {
   position: fixed !important;
    left: 30px;
    top: 80px;
    cursor: default;
    background: rgba(222,222,222,.1) !important;
    text-align: center;
    padding:5px !important;
    padding-left: 2px !important;
    width: 36px !important;
    height: 36px !important;
    z-index: 100;
    
 }
 .landing-url-button {
    font-weight: bold;
    padding: 10px 20px;
    background:#ededed;
    border: 0;
    box-shadow: none !important;
    color: #222;
    margin-top: 20px;
 }
 .landing-url-button .fa {
    margin-right: 8px;
    transform: rotate(-45deg);
    font-size: 24px;
    line-height: 1;
    position: relative;
    top:3px;
    opacity: .8;
 }

 .landing-url-button:hover {
    background:#dadada;
    color: #000;
 }

 .btn-default {
    box-shadow: none !important;
 }

 .item-detail-button {
     max-width: 235px;
     margin: auto;
     padding: 8px 10px;
     font-weight: bold;
     font-size: 18px;
     border-radius:4px; 
     box-shadow: none !important;
     
 }
 .item-detail-button.btn-default {
    border: 1px solid #b20014;
    background: #fff;
    color:#b20014;
 }
 .item-detail-button.btn-default:hover{
     background: #f2f2f2;
 }

 .item-detail-main-picture {
     text-align: center;
     margin: auto;
     margin-bottom: 20px;
     border-radius: 0px;
     overflow: hidden;
     margin-top: 20px;
 }
 .item-detail-main-picture .main-img {
    min-width: 500px;
    max-width: 100%;
    width: 100%;
}

 /* 576, 768, 992, 1200*/
 @media (max-width: 735px) {
     
    .item-detail-main-picture { margin-top:0; }
    .item-detail-main-picture .main-img {
        min-width: 500px;
        width: 100%;
     }

     .item-detail-container .row {
        margin-right: 0;
        margin-left: 0;
    }
    
    .item-detail-container .row > .col, .item-detail-container .row > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


 .item-detail-container {
    position:relative;
    margin: 60px auto;
    max-width: 1000px;
    padding: 0;
    background: #fff;
    height: auto;
    border-radius: 5px;
}

.item-detail-title {
    font-size: 25px;
    font-weight: bold;
    resize: none;
    overflow: hidden;
    line-height: 1.3;
    padding: 10px 0;
}

.item-detail-price {
    font-size: 24px;
    font-weight: bold;
    resize: none;
    overflow: hidden;
    line-height: 1.3;
    padding: 10px 0;
}

.item-detail-description {
    font-size: 18px;
    padding: 10px 0;
    color: #5d5d5d;
}

.item-detail-content {
    padding: 15px 15px;
}

.item-detail-header {
    padding: 30px 30px;
}

.item-detail-info {
    padding: 10px;
}

.item-detail-tags {
    padding: 10px 0;
}
.item-detail-tags > .tag {
    margin: 2px 5px;
    display: inline-block;
    border-radius:50px;
    background: #eee;
    padding: 2px 12px;
    font-size:13px;
}

.item-detail-info > span {
    margin: 2px 5px;
    display: inline-block;
    border-radius:50px;
    background: #eee;
    padding: 4px 15px;
    font-size:13px;
}

.item-detail-footer {
    padding: 30px 30px 50px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/*/////////////  avatar ///////////////////////////////////*/

.avatar { 

}
.avatar-username {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 2px;
}
.avatar-reputation {
    font-size: 15px;
  }
  
.avatar-picture {
  width: 75px;
  height: 75px;
  background: #eaeaea;
}

.avatar.sm .avatar-picture {
    width: 55px;
    height: 55px;
    background: #eaeaea;
}

.avatar-reputation{

}

.user-rating {
    padding-left: 0 !important;
    position: relative;
    left: -8px;
    padding-bottom: 0 !important;
    height: 28px;
}

.zoom {
    transition: transform .3s; 
}

.zoom:hover {
    transform: scale(1.05); 
  }

.form-card {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    max-width: 450px;
    display: flex;
    flex:1;
    flex-direction: column;
    width:100%;
    max-width: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-card-header {
    padding: 20px;
}

.form-card-body {
    padding: 50px;
}

.form-card-footer {
    padding: 20px;
}

.form-signin { 
    max-width: 500px;
}

.form-signin .form-card-body { 
    padding: 50px 80px;
}

.text-error { 
    color: red;
    text-align: left;
    padding: 0 5px; 
}

.login-title {
    font-size:1.5em;
}


.btn-default {
    box-shadow: 1px 1px 6px rgba(57,73,76,0.35) !important; 
    border: 1px solid transparent;
    color: #b20014;
    background: #fff;
    font-weight: 600;
}

.btn-default:hover {
    box-shadow: 1px 1px 10px rgba(57,73,76,0.5) !important; 
    border: 1px solid transparent;
    color: #b20014;
}

.form-card-login-footer {
    border-top:1px solid #eaeaea;
    padding: 20px;
    text-align: center;
    background: #f9f9f9;
    position: relative;
    
}

.login-footer-text {
    font-size: 14px;
    position: relative;
    font-weight: 600;
}

.login-footer-text hr {
    position: absolute;
    top: 5px;  
    left: 0;
    right: 0;
    z-index: 0;
    max-width: 350px;
    background: #4d4d4d;
}

.login-footer-text span {
    background: #f9f9f9;
    padding: 10px 15px;
    display: inline-block;
    z-index: 10;
    position: relative;
    color: #4d4d4d;
}

.btn-signup {
    min-width: 180px;
    max-width: 180px;
    margin: auto;
    font-weight: 600px;
}

.btn-login {
    max-width: 220px;
    margin: auto;
    font-weight: 600;
}

.btn-continue {
    max-width: 220px;
    margin: auto;
    font-weight: 600;
}

.keep-me-logged-in { 
    font-size: 14px;
}
.keep-me-logged-in input {
    margin-right: 8px;
    top: 2px;
    position: relative;
}

.forgot-password-link{
    font-size: 14px;
    font-weight: 600;
    color: #da031b;
}
.not-you-link {
    font-size: 15px;
    font-weight: 600;
    color: #da031b;
}
.not-you-link:hover, .forgot-password-link:hover {
    color: #da031b;
    text-decoration: underline;
} 
.login-username { font-size: 14px; }
.bold-label-sm { 
    font-weight: 600;
    font-size: 14px;
}

.form-control { border-radius:3px; }

input.form-control:hover, input.form-control:focus, .btn-primary:hover, .btn-primary:focus {
    border-color: #b20014 !important;
    box-shadow: none !important;
}

.select2-selection__rendered { margin:0; padding: 0; }
.select2-search__field { padding-left: 12px; padding-right: 12px; }


.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: 3px !important;
    height: 40px !important;
    padding: 5px 5px !important;
}
.select2-container--default .select2-selection--single:hover, .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single:active {
    border-color: #b20014 !important;
    box-shadow: none !important;
    outline: none !important;

}
.select2-selection__arrow {
    top: 7px !important;
    right: 10px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: #b20014 !important;
    padding: 5px 10px !important;
}




.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;
    background: none;
    border: 0;
    outline: none;
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    color: #c00;
    outline: none;
  }
  
  .main-drawer {
    width: 300px;
    position: fixed;
    top:0;
    left: -300px;
    top: 0;
    height: 100%;
    overflow: hidden;
    transition: all 0.24s ease-out .2s;
    display: block;
    outline: none;
    box-shadow: 3px 0 12px rgba(0, 0, 0, .25);
    z-index: 1000010;
    background: #1a1a1a;
    display: flex;
    flex-flow: column;
    flex: 1;
  }

.drawer-container {
    display: flex;
    flex:1;
    overflow: auto;
    position:relative;
    height:100%;
    width:100%;
    flex-flow: column;
}

  .drawer-header {
    height: 80px;
    min-height: 80px;
    overflow: hidden;
    max-height: 80px;
  }
  .drawer-footer {
    height: 40px;
    min-height: 40px;
    overflow: hidden;
    max-height: 40px;
    
  }

.ScrollbarsCustom  .wrapper {
margin-right: 16px !important;
}
  .ScrollbarsCustom  .trackY {
    right:4px !important;
    background: transparent !important;
  }
  .ScrollbarsCustom .thumbY{
    background: rgba(255,255,255,.2) !important;
  }

  .menu-close-button {
    outline: 0;
    border: 0;
    background: none;
    color: #ccc;
    padding: 15px;
    position: absolute;
    right: 0;
    top:0;
    width:48px;
    height: 48px;
  }
  
  .menu-close-button:focus {
    outline: none;
    box-shadow: none;
  }
  
  .show-drawer { overflow: hidden; }
  
  .show-drawer .main-drawer {
    left:0;
  }
  
  .show-drawer .backdrop {
    display: block;
  }
  
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding:  0;
    box-shadow: -8px 0 8px rgba(0, 0, 0, .5);
    min-height: 100%;
  }
  
  .backdrop {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background: #000;
    background: rgba(0, 0, 0, .5);
    cursor: default;
  }
  
  .main-menu a {
    display: block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #fff;
    border-bottom: 1px solid #383838;
    text-decoration: none !important;
  }
  
  .main-menu a:hover{
    color:#fff;
  }
  
  .main-menu li:first-child a {
    border-top: 1px solid #383838;
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: #333;
    text-decoration: underline;
  }
  